/*Header*/
.nav-container {
  background-color: var(--navbar-bgc);
  width: 100%;
  height: 80px;
  padding: 20px 150px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.insure-logo {
  cursor: pointer;
  z-index: 3;
  max-width: 100%;
  height: auto;
}

.nav-container .navbar {
  /* border: 2px solid red; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.nav-container .navbar a {
  margin-left: 30px;
  font-family: var(--font-body);
  font-size: 1rem;
  color: var(--d-gray-violet);
  font-weight: 700;
  transition: 0.3s ease;
}

.nav-container .navbar a:hover {
  color: var(--vd-violet);
}

.nav-container .navbar .dark {
  color: var(--d-violet);
  border: 2px solid var(--d-violet);
  margin-left: 30px;
}

.nav-container .navbar .dark:hover {
  background-color: var(--vd-violet);
  color: var(--vl-gray);
}

/*CTA btn*/
.view-plans-btn {
  font-weight: 700;
  font-family: var(--font-body);
  font-size: 1rem;
  padding: 8px 25px;
  background-color: transparent;
  transition: 0.3s ease;
  cursor: pointer;
}
/*CTA btn*/

/*Hamburger*/
.nav-container .hmbgr,
.nav-container .close-hmbgr,
.m-nav-pattern {
  display: none;
}

/* .nav-container .hmbgr {
  width: auto; 
  height: 100%; 
  object-fit: contain;
} */

/*End Header*/

/*Hero Section*/
.hero-container {
  background-color: var(--d-violet);
  height: 100%;
  width: 100%;
  padding: 70px 150px;
  position: relative;
  margin-top: 80px;
}

.hero-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.hero-container .pattern .desktop-left {
  position: absolute;
  left: 0;
  bottom: -330px;
}

.hero-container .pattern .desktop-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
}

.hero-container .pattern .mobile-left,
.hero-container .pattern .mobile-right{
  display: none;
}

.hero-container .hero-content {
  color: var(--vl-gray);
  width: 100%;
  padding-top: 55px;
  position: relative;
}

.hero-container .hero-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 1px;
  border-radius: 10px;
  background-color: #ffffff;
}

.hero-container .hero-content h1 {
  font-family: var(--font-headings);
  font-size: 4rem;
  font-weight: 400;
  line-height: 65px;
  margin-bottom: 20px;
}

.hero-container .hero-content p {
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 30px;
  margin-bottom: 30px;
}

.light {
  color: var(--vl-gray);
  border: 2px solid var(--vl-gray);
  margin-bottom: 20px;
  z-index: 5;
}

.light:hover {
  background-color: var(--vl-gray) !important;
  color: var(--vd-violet) !important;
}

.hero-container .hero-img {
  margin-top: 30px;
  margin-bottom: -230px;
}

/* .hero-container .hero-img img {
  width: 540px;
  height: auto;
  display: block;
} */
/*End Hero Section*/

/*Service Section*/
.service-container {
  height: 100%;
  width: 100%;
  padding: 270px 150px 0;
}

.service-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.service-container h1 {
  font-family: var(--font-headings);
  font-size: 4rem;
  font-weight: 400;
  color: var(--vd-violet);
  margin-bottom: 70px;
  position: relative;
  padding-top: 50px;
  position: relative;
}

.service-container h1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 1px;
  border-radius: 10px;
  background-color: var(--d-violet);
}

.service-container .service-categ {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.service-container .service-categ .categ-content {
  flex: 1;
  padding-right: 50px;
}

.service-container .service-categ .categ-content img {
  width: 70px;
  height: auto;
  margin-bottom: 25px;
}

.service-container .service-categ .categ-content h2 {
  font-size: 1.5rem;
  font-family: var(--font-headings);
  font-weight: 400;
  color: var(--vd-violet);
  margin-bottom: 15px;
}

.service-container .service-categ .categ-content p {
  font-size: 0.9rem;
  font-family: var(--font-body);
  font-weight: 400;
  color: var(--d-gray-violet);
  line-height: 1.5rem;
}
/*End Service Section*/

/*CTA Section*/
.cta-container {
  height: 100%;
  width: 100%;
  padding: 150px;
}

.cta-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  background-color: var(--d-violet);
  position: relative;
  padding: 70px;
  overflow: hidden;
}

.cta-container .cta-pattern {
  position: absolute;
  top: 0;
  right: 0;
}

.cta-container h1 {
  font-family: var(--font-headings);
  font-size: 3rem;
  font-weight: 400;
  color: var(--vl-gray);
  line-height: 50px;
}

.mobile-ctta-pattern{
  display: none;
}

/*End CTA Section*/

/*Footer*/
.footer-container {
  height: 100%;
  width: 100%;
  padding: 60px 150px;
  background-color: var(--vl-gray);
  position: relative;
}

.footer-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.footer-container .footer-pattern {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.footer-container .icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer-container .icons-container .socials-icon img {
  margin-right: 10px;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.footer-container .icons-container .socials-icon img:hover {
  filter: brightness(0) saturate(100%) hue-rotate(240deg) brightness(50%)
    contrast(100%);
}

.footer-line {
  z-index: 2;
  background-color: #d4d3d4;
  height: 1px;
  border: none;
  position: relative;
}

.footer-container .links-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 230px;
  text-transform: uppercase;
  font-family: var(--font-body);
  font-weight: 700;

  position: relative;
  z-index: 3;

  list-style: none;
}

.footer-container .links-container h1 {
  font-size: 0.9rem;
  color: var(--d-gray-violet);
  margin: 50px 0 30px;
}

.footer-container .links-container li {
  font-size: 0.9rem;
  color: var(--vd-violet);
  margin-top: 10px;
  transition: text-decoration 0.3s ease;
  cursor: pointer;
}

.footer-container .links-container li:hover {
  text-decoration: underline;
}
/*End Footer*/

/*Attribution*/
.attribution {
  font-style: italic;
  font-family: var(--font-body);
  font-size: 0.9rem;
  color: var(--d-gray-violet);
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.attribution a {
  color: var(--vd-violet);
  transition: text-decoration-color 0.3s ease;
}

.attribution a:hover {
  text-decoration: underline;
  transition: text-decoration-color 0.3s ease;
}
/*End Attribution*/
